@model CapaSOPORTE.Listas
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Michi Refugio";
}
<div class="content">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.listaGatos)
                {
                <div class="col-md-5 mr-auto">
                    <h3 class="mb-3">@item.nombre</h3>
                        <img class="fotoFicha" src="~/@item.foto" alt="michi salvaje debería aparecer" />
                        <p>@item.descripcion</p>
                        <p>&#9786; Cosas que le gustan: @item.Gusta</p>
                        <p>&#10008; Cosas que no le gustan: @item.Odia</p>
                </div>
                }
                <div class="col-md-6">
                    <div class="box">
                    <h3 class="heading">¿Quieres adoptarle?</h3>
                    @using (Html.BeginForm("GuardarFormulario", "Gato", FormMethod.Post))
                    {
                        @Html.Hidden("formularioUsu.idGato", Model.listaGatos[0].id);
                        @if (@Accessor.HttpContext.Session.GetString("NombreEmail") == null)
                    {
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    @Html.TextBoxFor(formulario => formulario.formularioUsu.nombre, new {@class = "form-control", @id="floatingInput", @placeholder="Tu nombre"})
                                    @Html.ValidationMessageFor(formulario => formulario.formularioUsu.nombre)
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.TextBoxFor(formulario => formulario.formularioUsu.apellido, new {@class = "form-control", @id="floatingInput", @placeholder="Tu primer apellido"})
                                    @Html.ValidationMessageFor(formulario => formulario.formularioUsu.apellido)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.TextBoxFor(formulario => formulario.formularioUsu.apellido2, new {@class = "form-control", @id="floatingInput", @placeholder="Tu segundo apellido"})
                                    @Html.ValidationMessageFor(formulario => formulario.formularioUsu.apellido2)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.TextBoxFor(formulario => formulario.formularioUsu.email, new {@class = "form-control", @id="floatingInput", @placeholder="Tu email"})
                                    @Html.ValidationMessageFor(formulario => formulario.formularioUsu.email)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.TextBoxFor(formulario => formulario.formularioUsu.telefono, new {@class = "form-control", @id="floatingInput", @placeholder="Tu teléfono"})
                                    @Html.ValidationMessageFor(formulario => formulario.formularioUsu.telefono)
                                </div>
                            </div>
                    }
                        <div class="col-md-12 form-group">
                            <label for="message" class="col-form-label">¡Cuéntanos un poco sobre ti!</label>
                            <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="¡Te responderemos lo antes posible! Meowchas gracias ♡"></textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-block btn-secondary rounded-0 py-2 px-4">
                        <span class="submitting"></span>
                    }
                    </div>
                </div>                 
        </div>
    </div>
</div>