@model CapaSOPORTE.FormularioModel;
@{
    ViewData["Title"] = "Michi Refugio";
}
<div class="col-md-6">
    <div class="box">
        <h3 class="heading">¿Quieres adoptarle?</h3>
        @using (Html.BeginForm("Textuwu", "Formulario"))
        {
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(formulario => formulario.nombre, new {@class = "form-control", @id="floatingInput", @placeholder="Tu nombre"})
                    @Html.ValidationMessageFor(formulario => formulario.nombre)
                </div>
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(formulario => formulario.apellido, new {@class = "form-control", @id="floatingInput", @placeholder="Tu primer apellido"})
                    @Html.ValidationMessageFor(formulario => formulario.apellido)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(formulario => formulario.apellido2, new {@class = "form-control", @id="floatingInput", @placeholder="Tu segundo apellido"})
                    @Html.ValidationMessageFor(formulario => formulario.apellido2)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(formulario => formulario.email, new {@class = "form-control", @id="floatingInput", @placeholder="Tu email"})
                    @Html.ValidationMessageFor(formulario => formulario.email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(formulario => formulario.contra, new {@class = "form-control", @id="floatingInput", @placeholder="Tu contraseña"})
                    @Html.ValidationMessageFor(formulario => formulario.contra)
                </div>
                </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(formulario => formulario.telefono, new {@class = "form-control", @id="floatingInput", @placeholder="Tu teléfono"})
                    @Html.ValidationMessageFor(formulario => formulario.telefono)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="message" class="col-form-label">¡Cuéntanos un poco sobre ti!</label>
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="¡Te responderemos lo antes posible! Meowchas gracias ♡"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Enviar" class="btn btn-block btn-secondary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                </div>
            </div>
        }
    </div>
</div>