@model CapaSOPORTE.Listas;
@{
    ViewData["Title"] = "Panel de administrador";
}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Usuarios</h2></div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model.listaUsuarios)
                    {
                        <tr>
                            <td>@usuario.id</td>
                            <td>@usuario.nombre</td>
                            <td>@usuario.apellido</td>
                            <td>@usuario.apellido2</td>
                            <td>@usuario.email</td>
                            <td>@usuario.contraseña</td>
                            <td>@usuario.telefono</td>
                            <td>@usuario.admin</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Gatos</h2></div>
                    <div class="col-sm-4">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Género</th>
                                    <th>Adoptado</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var gato in Model.listaGatos)
                                {
                                    <tr>
                                        <td>@gato.id</td>
                                        <td>@gato.nombre</td>
                                        <td>@gato.edad</td>
                                        <td>@gato.genero</td>
                                        <td>@gato.adoptado</td>
                                        <td>@gato.foto</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
