@model CapaSOPORTE.UsuarioModel;
@{
    ViewData["Title"] = "Mi perfil";
}
<div class="row">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Foto de perfil</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2" src="/img/usuarionoregistrado.png" alt="foto salvaje debería aparecer">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <button class="btn btn-secondary" type="button">Subir foto</button>
            </div>
            @*ya veremos si esto sobrevive...*@
        </div>
    </div>
<div class="col-xl-8">
    <div class="card mb-4">
        <div class="card-header">Detalles de la cuenta</div>
        <div class="card-body">
                @using (Html.BeginForm("PerfilUsuario", "Usuario", FormMethod.Post))
                {
                    <div class="mb-3">
                        @Html.TextBoxFor(modelo => modelo.nombre, new {@class = "form-control", @id="floatingInput", @placeholder="Nombre"})
                         @Html.ValidationMessageFor(modelo => modelo.nombre)
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.apellido, new {@class = "form-control", @id="floatingInput", @placeholder="Primer apellido"})
                            @Html.ValidationMessageFor(modelo => modelo.apellido)
                        </div>
                        </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.apellido2, new {@class = "form-control", @id="floatingInput", @placeholder="Segundo apellido"})
                            @Html.ValidationMessageFor(modelo => modelo.apellido2)
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.email, new {@class = "form-control", @id="floatingInput", @placeholder="Email"})
                            @Html.ValidationMessageFor(modelo => modelo.email)
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.telefono, new {@class = "form-control", @id="floatingInput", @placeholder="Teléfono"})
                            @Html.ValidationMessageFor(modelo => modelo.telefono)
                        </div>
                        </div>
                    <button class="btn btn-secondary" type="button">Guardar</button>
                }
        </div>
    </div>
</div>
</div>
