@model CapaSOPORTE.UsuarioModel;
@{
    ViewData["Title"] = "Mi perfil";
}
    <div class="card mb-4">
        <div class="card-header">Detalles de la cuenta</div>
        <div class="card-body">
                @using (Html.BeginForm("PerfilUsuario", "Usuario", FormMethod.Post))
                {
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                        @Html.TextBoxFor(modelo => modelo.nombre, new {@class = "form-control", @id="floatingInput", @placeholder="Nombre"})
                         @Html.ValidationMessageFor(modelo => modelo.nombre)
                    </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.apellido, new {@class = "form-control", @id="floatingInput", @placeholder="Primer apellido"})
                            @Html.ValidationMessageFor(modelo => modelo.apellido)
                        </div>
                        </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.apellido2, new {@class = "form-control", @id="floatingInput", @placeholder="Segundo apellido"})
                            @Html.ValidationMessageFor(modelo => modelo.apellido2)
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.email, new {@class = "form-control", @id="floatingInput", @placeholder="Email"})
                            @Html.ValidationMessageFor(modelo => modelo.email)
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            @Html.TextBoxFor(modelo => modelo.telefono, new {@class = "form-control", @id="floatingInput", @placeholder="Teléfono"})
                            @Html.ValidationMessageFor(modelo => modelo.telefono)
                        </div>
                        </div>
                    <button class="btn btn-secondary" type="button">Guardar</button>
                }
        </div>
    <div class="row">
        <div class="col-md-6">
            <img class="michiperfil" src="https://i.pinimg.com/originals/af/be/0b/afbe0b5518ea325e93c002ebd10bcff3.jpg" alt="michimiau" />
        </div>
    </div>
</div>