@model CapaSOPORTE.UsuarioModel
@{
    ViewData["Title"] = "Registro";
}
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img class="michiregistro" src="https://img.freepik.com/premium-vector/continuous-one-line-drawing-cat-sitting-front-single-line-art-single-line-cat-contour-design_499433-295.jpg?w=2000" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1 class="h1registro">Regístrate</h1>
            <p class="font-italic text-muted mb-0">Crea tu cuenta y empieza a adoptar a nuestros adorables mininos.</p>
        </div>

        @ViewBag.Message

        <div class="col-md-7 col-lg-6 ml-auto">
            @using (Html.BeginForm("Registrar", "Usuario", FormMethod.Post))
            {
                <div class="form-group first">
                    @Html.TextBoxFor(modelo => modelo.nombre, new {@class = "form-control", @id="floatingInput", @placeholder="Nombre"})
                    @Html.ValidationMessageFor(modelo => modelo.nombre)
                </div>
                <div class="form-group last mb-4">
                    @Html.TextBoxFor(modelo => modelo.apellido, new {@class = "form-control", @id="floatingInput", @placeholder="Primer apellido"})
                    @Html.ValidationMessageFor(modelo => modelo.apellido)
                </div>
                <div class="form-group first">
                    @Html.TextBoxFor(modelo => modelo.apellido2, new {@class = "form-control", @id="floatingInput", @placeholder="Segundo apellido"})
                    @Html.ValidationMessageFor(modelo => modelo.apellido2)
                </div>
                <div class="form-group last mb-4">
                    @Html.TextBoxFor(modelo => modelo.email, new {@class = "form-control", @id="floatingInput", @placeholder="Email"})
                    @Html.ValidationMessageFor(modelo => modelo.email)
                </div>
                <div class="form-group first">
                    @Html.TextBoxFor(modelo => modelo.telefono, new {@class = "form-control", @id="floatingInput", @placeholder="Teléfono"})
                    @Html.ValidationMessageFor(modelo => modelo.telefono)
                </div>
                <div class="form-group last mb-4">
                    @Html.PasswordFor(modelo => modelo.contraseña, new {@class = "form-control", @id="floatingInput", @placeholder="Contraseña"})
                    @Html.ValidationMessageFor(modelo => modelo.contraseña)
                </div>
                <div class="form-group last mb-4">
                    @Html.PasswordFor(modelo => modelo.contraseña, new {@class = "form-control", @id="floatingInput", @placeholder="Vuelve a introducir la contraseña"})
                    @Html.ValidationMessageFor(modelo => modelo.contraseña)
                </div>
                <input type="submit" value="Entrar" class="btn btn-block btn-secondary">
            }
        </div>
    </div>
</div>