@model MichiRefugio.Models.UsuarioModel
@{
    ViewData["Title"] = "Iniciar sesión";
}
@if (ViewBag.Mensaje != null)
{
    @ViewBag.Mensaje
    ;
}

<img class="mb-4" src="/img/icocat.png" alt="" width="80" height="70">

@using (Html.BeginForm("IniciarSesion", "Usuario", FormMethod.Post))
{
    <p>
        Introduce tu email: @Html.TextBoxFor(modelo => modelo.usuario, new {@class = "form-control", @id="floatingInput"})
        @Html.ValidationMessageFor(modelo => modelo.usuario)
    </p>
    <p>
        Introduce tu contraseña: @Html.PasswordFor(modelo => modelo.contra, new {@class = "form-control", @id="floatingInput"})
        @Html.ValidationMessageFor(modelo => modelo.contra)
    </p>
    <input class="w-100 btn btn-lg btn-secondary" type="submit" name="iniciarsesion" value="Iniciar sesión">
}